  /*  */
  html,
  body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  body {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: #1f1f1f;
    background-color: #f2f2f2;
    font-size: 16px;
    padding: 8px;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #toggle-hub {
    margin-left: auto;
    border: 0;
    margin: 0;
    padding: 0;
  }

  .content-container {
    margin-top: 2.75em;
    flex: 1;
  }

  footer {
    background-color: #f8f9fa;
    padding: 10px;
  }

  footer div {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 3px;
  }

  a:link {
    text-decoration: none;
  }

  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }

  button {
    cursor: pointer;
  }

  .toolbar button {
    background: #333;
    color: white;
    border-radius: 4px;
    border: none;
    min-width: 48px;
    padding: 4px 12px;
    margin: 2px;
    cursor: pointer;
  }


  .toolbar button.primary {
    background: #333;
    color: white;
  }

  .toolbar button.secondary {
    background: #ccc;
    color: black;
  }

  .toolbar button[disabled] {
    background: #ddd;
    color: #aaa;
  }

  .actionbar {
    padding: 0;
  }

  .actionbar button {
    border: 0;
    padding-top: 2px;
  }

  input[type='range'] {
    margin-top: 16px;
    accent-color: black;
  }

  textarea {
    --padding: 16px;
    width: calc(100% - var(--padding));
    max-width: calc(100% - var(--padding));
  }

  .text,
  textarea {
    background-color: white;
    padding: 8px;
    border-radius: 4px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px, rgb(51, 51, 51) 0px 0px 0px 1px; */
    outline: none;
  }

  .blink {
    animation: 1s ease-in-out 1s infinite reverse both running blink;
    color: red;
    font-size: xx-large;
  }

  @keyframes blink {
    25% {
      opacity: 0.5;
    }

    50% {
      opacity: 0;
    }

    75% {
      opacity: 0.5;
    }
  }

  [hidden] {
    display: none;
  }